{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IndividualInstruction creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('individualinstruction') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block documentReady %}
    var now = new Date();
    
    /* Datepicker */
    //datetimepicker plugin 
    $('#appbundle_individualinstruction_instructionDate').datetimepicker({
        format: 'm/d/Y',
        timepicker: false,
        onShow:function( ct ){
            this.setOptions({
                minDate: now,
            })
        },
    });
    {{ parent() }}
{% endblock %}