{% extends 'base.html.twig' %}
{% block title %}Access Denied{% endblock %}
{% block body %}
    
    <h1 class="text-center">Resource Not Found. (404)</h1>
    <div class="row">
        <div class="col-xs-12 text-center">
          <p>Sorry. We tried our best to locate what you were looking for but it doesn't appear to be here. If you need help, here's who to contact:</p>
          <p>{{ administratorName }} | {{administratorEmail}} | {{administratorPhone}}</p>
          <p><a class="btn btn-primary btn-lg" href="{{ path("homepage") }}"><span class="glyphicon glyphicon-dashboard"></span> My Dashboard</a></p>   
        </div>
    </div>
    
{% endblock %}
{% block footer %}{% endblock %}
{% block documentReady %}
{% endblock %}
