{% extends '::base.html.twig' %}
{% block title %}Library Hours: Areas{% endblock %}
{% block body -%}
 
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New Area' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('hoursarea')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}
    
    <blockquote>
        <p>You will be able to set hours for this area <mark>after</mark> creating it.</p>
    </blockquote>
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(form) }}</div>
      </div>
    </di>
          
{% endblock %}
