{% extends '::base.html.twig' %}   
{% block title %}Library Hours: Areas{% endblock %}
{% block body %}
      
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Area: ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
      <blockquote>
          <p>To view and edit hours for this area, click the pencil icon below (you must have proper permissions).
      </blockquote>
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('hoursarea'), 'editpath' : path('hoursarea_edit', { 'id': entity.id }), 'editrole' : 'ROLE_HOURS_EDIT' } %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Area</th><td>{{entity.name}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
