{% extends '::base.html.twig' %}
{% block title %}Staff{% endblock %}
{% block body -%}
    <h1 class="page-header">New Staff Member</h1>
    <span><a class="btn btn-sm btn-primary" href="{{ path('staff') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to the list</a></span>
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(form) }}</div>
      </div>
    </div>
</ul>
{% endblock %}
