{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">Staff creation</h1>
    <span><a class="btn btn-sm btn-primary" href="{{ path('staff') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to the list</a></span>
    {{ form(form) }}
</ul>
{% endblock %}
