{% extends '::printbase.html.twig' %}
{% block title %}Faculty Room Type{% endblock %}
{% block body %}
<h1>Faculty Room Type: {{entity.name}}</h1>
<button class="print-btn" onclick="window.print();">Print</button>
    <table class="libcommand-print-table libcommand-print-table-650">
        <caption>Room Type</caption>
        <tbody>
            <tr><th>Room Type</th><td>{{entity.name}}</td></tr>
        </tbody>
    </table> 
{% endblock %}
