{% extends '::base.html.twig' %}
{% block title %}Faculty Room Types{% endblock %}
{% block body -%}  
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Faculty Room Type: ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('roomrequestroom'), 'editpath' : path('roomrequestroom_edit', { 'id': entity.id }), 'printpath' : path('roomrequestroom_print', { 'id': entity.id }), 'editrole' : 'ROLE_ROOMREQUEST_EDIT'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Room Type</th><td>{{entity.name}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
