{% extends '::base.html.twig' %}

{% block body -%}
    <h1>New Group Instruction</h1>
    <blockquote>
        <p>You may only add instructions for yourself. Additionally, only you will be able to edit or delete your instruction session details.</p>
    </blockquote>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('groupinstruction') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block documentReady %}
    var now = new Date();
    
    /* Datepicker */
    //datetimepicker plugin 
    $('#appbundle_groupinstruction_instructionDate').datetimepicker({
        format: 'm/d/Y',
        timepicker: false,
        onShow:function( ct ){
            this.setOptions({
                minDate: now,
            })
        },
    });
    {{ parent() }}
{% endblock %}