{% extends '::base.html.twig' %}
{% block title %}Material Reserve Media{% endblock %}
{% block body -%}  
    <h1 class="page-header">Media: {{entity.name}}</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('materialreservemedia') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a></p>
      </div>
    </div>
    {% if is_granted('ROLE_MATERIALRESERVE_EDIT', entity) %}
    <div class="row">
        <div class="col-xs-12">
            <p><a class="badge" href="{{ path('materialreservemedia_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit Media</a></p>
        </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Media</th><td>{{entity.name}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
