{% extends '::base.html.twig' %}
{% block title %}Library Hours: Semesters{% endblock %}
{% block body -%}

    {% if entity.season == 0 %}
        {% set season = 'Winter' %}
    {% elseif entity.season == 1 %}
        {% set season = 'Spring' %}
    {% elseif entity.season == 2 %}
        {% set season = 'Summer' %}
    {% elseif entity.season == 3 %}
        {% set season = 'Fall' %}
    {% endif %}    
                            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit Semester: ' ~ season ~ ' ' ~ entity.year } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <blockquote>
        <p>Semesters must have a starting and ending date. For each area, you will be able to set <mark>regular</mark> hours for the entire semester. Special hours are taken care of through the Special Events feature.</p>
    </blockquote>
    <blockquote>
        <p>Special events must have a starting and ending date. Should you decide to amend the starting and ending date of a special event, please be aware that any special hours set outside of the new date range will be <mark>deleted</mark>. The same goes for any events that are deleted outright.</p>
    </blockquote>
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('hourssemester') } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="well well-lg">
            {{ form(edit_form) }}
            {% if is_granted('ROLE_HOURS_DELETE', entity) %}
                {{ form(delete_form) }}
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
