{% extends '::base.html.twig' %}
{% block title %}Library Hours: Semesters{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New Semester' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('hourssemester')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}
    
    <blockquote>
        <p>Semesters must have a starting and ending date. For each area, you will be able to set <mark>regular</mark> hours for the entire semester. Special hours are taken care of through the Special Events feature.</p>
    </blockquote>
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(form) }}</div>
      </div>
    </div>
{% endblock %}
{% block documentReady %}
    $('#appbundle_hourssemester_season, #appbundle_hourssemester_year').on('change', function(){
        var yearValue = $('#appbundle_hourssemester_year').val() * 10;
        var seasonValue = $('#appbundle_hourssemester_season').val();
    
        $('#appbundle_hourssemester_chronOrder').val( yearValue + parseInt(seasonValue) );
    });
    {{ parent() }}
{% endblock %}
