{% extends '::base.html.twig' %}
{% block title %}Library Hours: Semesters{% endblock %}
{% block body -%}
    {% if entity.season == 0 %}
        {% set season = 'Winter' %}
    {% elseif entity.season == 1 %}
        {% set season = 'Spring' %}
    {% elseif entity.season == 2 %}
        {% set season = 'Summer' %}
    {% elseif entity.season == 3 %}
        {% set season = 'Fall' %}
    {% endif %}    
                            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Semester: ' ~ season ~ ' ' ~ entity.year } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('hourssemester'), 'editpath' : path('hourssemester_edit', { 'id': entity.id }), 'editrole' : 'ROLE_HOURS_EDIT' } %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr>
                    <th>Semester</th>
                    <td>
                        {{ season }}   
                        {{ entity.year }}
                    </td>
                </tr>
                <tr><th>Start</th><td>{{entity.startDate|date('m/d/Y')}}</td></tr>
                <tr><th>End</th><td>{{entity.endDate|date('m/d/Y')}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
