{% extends '::base.html.twig' %}
{% block title %}Staff Areas{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Area' ~ entity.title } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('admin_staffareas'), 'editpath' : path('admin_staffareas_edit', { 'id': entity.id }), 'printpath' : path('admin_staffareas_print', { 'id': entity.id }), 'editrole' : 'ROLE_ADMIN'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Area</th><td>{{entity.title}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
