<div class="row annualreport-item-container">
    <div class="col-xs-2 col-sm-1">
        <button class="delete-detail btn btn-danger btn-xs" type="button"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-10 col-sm-11">
        {{ form_widget(form.detail) }}
    </div>
</div>