{# for inclusion in edit.html.twig files...variables declared in those files are used below #}
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <p><a class="btn btn-sm btn-primary" href="{{ basepath }}" aria-label="Back to AV List"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
    </div>
    <div class="col-xs-12 col-sm-8 text-right" role="toolbar" aria-label="options-toolbar">
        {% if printpath is defined %}
        <p><a class="btn btn-sm btn-default" target="_blank" href="{{ printpath }}"><span class="glyphicon glyphicon-print"></span></a></p>
        {% endif %}
    </div>
</div>