{# for inclusion in new.html.twig files...variables declared in those files are used below #} 
<div class="row">
    <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ basepath }}" aria-label="Back to List"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
    </div>
</div>