{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Areas{% endblock %}
{% block body -%}
    <h1 class="page-header">New Feedback Area</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('feedbackarea') }}" aria-label="Back to Feedback Area List"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(form) }}</div>
      </div>
    </div>
{% endblock %}
