{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Areas{% endblock %}
{% block body %}  
            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('feedbackarea'), 'editpath' : path('feedbackarea_edit', { 'id': entity.id }), 'printpath' : path('feedbackarea_print', { 'id': entity.id }), 'editrole' : 'ROLE_FEEDBACK_EDIT'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
          <table class="table table-responsive table-striped">
              <caption>Area Information</caption>
              <tbody>
                  <tr>
                      <td>Name</td>
                      <td>{{entity.name}}</td>
                  </tr>
                  <tr>
                      <td>Parent Area</td>
                      <td>
                        {% if entity.parent is not null %}  
                          {{entity.parent}}
                        {% else %}
                            none
                        {% endif %}
                      </td>
                  </tr>
              </tbody>
            </table>
      </div>
    </div>
{% endblock %}
