{% extends '::base.html.twig' %}
{% block title %}Book Search Request{% endblock %}
{% block body -%}

    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New Book Search Request' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('booksearchrequest')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}
    
      <div class="row">
        <div class="col-xs-12">
            <div class="well well-lg">{{ form(form) }}</div>
        </div>
      </div>
{% endblock %}
