{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Library Command Center</h1>
    <p>This is the command center for all forms for the EMU Library website and intranet. You can log in using your NetID credentials. In order to obtain necessary access to forms, permission must first be given.</p>
    {% if not app.user %}
    <p><a class="btn btn-primary btn-lg" href="{{path('fos_user_security_login')}}" role="button">Login &raquo;</a></p>
    {% endif %}
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
        <section id="staff-search-container">
            <div class="row">
                <div class="col-xs-12">
                    {{ form(staff_search_form) }}
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
      <h2>Internal</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Admin Area</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="{{ path('admin') }}" role="button">Admin Dashboard &raquo;</a></p>
    </div>
  </div>

  <hr>
{% endblock %}
{% block documentReady %} 
    //Initiate the staff auto complete (jQueryUI feature; function in base.html.twig)
    initStaffAutoComplete();
{% endblock %}
