security:
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
          pattern:    ^/
          fr3d_ldap:  ~
          form_login:
              always_use_default_target_path: false
              default_target_path: /  #send user to homepage after login
              require_previous_session: false #tutorial: https://www.codereviewvideos.com/course/getting-started-with-fosuserbundle/video/adding-remember-me-functionality-to-fosuserbundle
          logout:     true
          anonymous:  true
          remember_me:
              key:      "%secret%"
              lifetime: 86400 #1 Day 
              path: /
    
    # Preserve plain text password in token for refresh the user.
    # Analyze the security considerations before turn off this setting.
    erase_credentials: false     
    
    #Re-authenticates user every time when set to true 
    #(otherwise users would have to log out every time their permissions change for them to take effect)
    always_authenticate_before_granting:  true
            
    encoders:
        #Symfony\Component\Security\Core\User\User: plaintext  #for in_memory provider
        AppBundle\Entity\User: plaintext

    providers:
        chain_provider:
            chain:
                providers: [fos_userbundle, fr3d_ldapbundle]

        fr3d_ldapbundle:
            id: fr3d_ldap.security.user.provider

        fos_userbundle:
            id: fos_user.user_provider.username
    
    acl:
        connection: default
            
    access_control:
      - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/register, role: ROLE_SUPER_ADMIN } #login through LDAP, should not need to register
      - { path: ^/admin, role: ROLE_ADMIN }
      - { path: ^/groupinstruction, role: IS_AUTHENTICATED_REMEMBERED }
      - { path: ^/individualinstruction, role: IS_AUTHENTICATED_REMEMBERED }
      - { path: ^/instruction, role: IS_AUTHENTICATED_REMEMBERED }
      
    role_hierarchy:
        #General
        ROLE_UNCONFIRMED:  ~
        ROLE_USER:         ~
        ROLE_ADMIN:        ROLE_USER
        ROLE_SUPER_ADMIN:  ROLE_ADMIN
        #LiaisonSubject
        ROLE_LIAISONSUBJECT_VIEW:   ROLE_USER
        ROLE_LIAISONSUBJECT_EDIT:   ROLE_LIAISONSUBJECT_VIEW
        ROLE_LIAISONSUBJECT_DELETE: ROLE_LIAISONSUBJECT_EDIT
        #AVRequests
        ROLE_AV_VIEW:      ROLE_USER
        ROLE_AV_EDIT:      ROLE_AV_VIEW
        ROLE_AV_DELETE:    ROLE_AV_EDIT
        #Hours
        ROLE_HOURS_VIEW:   ROLE_USER
        ROLE_HOURS_EDIT:   ROLE_HOURS_VIEW
        ROLE_HOURS_DELETE: ROLE_HOURS_EDIT
        #Staff
        ROLE_STAFF_VIEW:   ROLE_USER
        ROLE_STAFF_EDIT:   ROLE_STAFF_VIEW
        ROLE_STAFF_DELETE: ROLE_STAFF_EDIT
        #Library Departments
        ROLE_DEPARTMENTS_VIEW:   ROLE_USER
        ROLE_DEPARTMENTS_EDIT:   ROLE_DEPARTMENTS_VIEW
        ROLE_DEPARTMENTS_DELETE: ROLE_DEPARTMENTS_EDIT
        #Feedback (Comments and Suggestions)
        ROLE_FEEDBACK_VIEW:   ROLE_USER
        ROLE_FEEDBACK_EDIT:   ROLE_FEEDBACK_VIEW
        ROLE_FEEDBACK_DELETE: ROLE_FEEDBACK_EDIT
        #Book Search Request
        ROLE_BOOKSEARCH_VIEW:   ROLE_USER
        ROLE_BOOKSEARCH_EDIT:   ROLE_BOOKSEARCH_VIEW
        ROLE_BOOKSEARCH_DELETE: ROLE_BOOKSEARCH_EDIT
        #Extended Privileges
        ROLE_EXTENDEDPRIVILEGES_VIEW:   ROLE_USER
        ROLE_EXTENDEDPRIVILEGES_EDIT:   ROLE_EXTENDEDPRIVILEGES_VIEW
        ROLE_EXTENDEDPRIVILEGES_DELETE: ROLE_EXTENDEDPRIVILEGES_EDIT
        #Material Purchase Request
        ROLE_MATERIALPURCHASE_VIEW:   ROLE_USER
        ROLE_MATERIALPURCHASE_EDIT:   ROLE_MATERIALPURCHASE_VIEW
        ROLE_MATERIALPURCHASE_DELETE: ROLE_MATERIALPURCHASE_EDIT
        #Material Reserve
        ROLE_MATERIALRESERVE_VIEW:   ROLE_USER
        ROLE_MATERIALRESERVE_EDIT:   ROLE_MATERIALRESERVE_VIEW
        ROLE_MATERIALRESERVE_DELETE: ROLE_MATERIALRESERVE_EDIT
        #Library News
        ROLE_NEWS_VIEW:   ROLE_USER
        ROLE_NEWS_EDIT:   ROLE_NEWS_VIEW
        ROLE_NEWS_DELETE: ROLE_NEWS_EDIT
        #FindText+
        ROLE_FINDTEXT_VIEW:   ROLE_USER
        ROLE_FINDTEXT_EDIT:   ROLE_FINDTEXT_VIEW
        ROLE_FINDTEXT_DELETE: ROLE_FINDTEXT_EDIT
        #(Faculty) Room Request
        ROLE_ROOMREQUEST_VIEW:      ROLE_USER
        ROLE_ROOMREQUEST_EDIT:      ROLE_ROOMREQUEST_VIEW
        ROLE_ROOMREQUEST_DELETE:    ROLE_ROOMREQUEST_EDIT
        #Media Library
        ROLE_MEDIALIBRARY_VIEW:      ROLE_USER
        ROLE_MEDIALIBRARY_EDIT:      ROLE_MEDIALIBRARY_VIEW
        ROLE_MEDIALIBRARY_DELETE:    ROLE_MEDIALIBRARY_EDIT
        

