# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:        
    user_service:
      class: AppBundle\Resources\Services\UserService
      arguments: [ @doctrine.orm.entity_manager, @service_container, @security.authorization_checker, @fos_user.util.user_manipulator ]
    
    list_service:
      class: AppBundle\Resources\Services\ListService
      arguments: [ @router, @security.authorization_checker ]
        
    email_service:
        class: AppBundle\Resources\Services\EmailService
        arguments: [ @doctrine.orm.entity_manager, @service_container, @security.authorization_checker, @router ]
        
    document_service:
        class: AppBundle\Resources\Services\DocumentService
        arguments: [ @doctrine.orm.entity_manager, @service_container, @security.authorization_checker, @router ]
        
    form.type.permisssion:
      class: AppBundle\Form\PermissionType
      arguments: [@service_container]
      tags:
        - { name: form.type, alias: permission_choice }
        
    security.access.groupinstruction_voter:
      class: AppBundle\Security\Authorization\Voter\GroupInstructionVoter
      public: false
      arguments: [@security.role_hierarchy]
      tags: 
        - {name: security.voter}
        
    security.access.individualinstruction_voter:
      class: AppBundle\Security\Authorization\Voter\IndividualInstructionVoter
      public: false
      arguments: [@security.role_hierarchy]
      tags: 
        - {name: security.voter}
        
    app.form.type.user:
      class: AppBundle\Form\UserType
      arguments: [ @doctrine, @service_container ]
      tags:
        - { name: form.type }
   
    hours_service:
        class: AppBundle\Resources\Services\HoursService
        arguments: [ @doctrine.orm.entity_manager, @service_container, @security.authorization_checker, @router ]
        
    instruction_service:
        class: AppBundle\Resources\Services\InstructionService
        arguments: [ @doctrine.orm.entity_manager, @service_container, @security.authorization_checker, @router ]
        
    importexport_service:
        class: AppBundle\Resources\Services\ImportExportService
        arguments: [ @doctrine.orm.entity_manager, @service_container, @security.authorization_checker, @router ]
        
    #This is the HoursRegularController
    hoursRegular_controller:
        class: AppBundle\Controller\HoursRegularController
        calls:
            - [ setContainer, [ @service_container ]]
            
    #This is the HoursSpecialController
    hoursSpecial_controller:
        class: AppBundle\Controller\HoursSpecialController
        calls:
            - [ setContainer, [ @service_container ]]
            
    #This is the HoursAreaController
    hoursArea_controller:
        class: AppBundle\Controller\HoursAreaController
        calls:
            - [ setContainer, [ @service_container ]]
            
    #Custom type HiddenHoursArea
    app.form.type.hiddenHoursArea:
        class: AppBundle\Form\Type\HiddenHoursAreaType
        tags:
            - { name: form.type, alias: hiddenHoursArea }
        arguments:
            - @doctrine.orm.entity_manager
           
    #This is the InstructionController
    instruction_controller:
        class: AppBundle\Controller\InstructionController
        calls: 
            - [ setContainer, [ @service_container ]]