{% extends '::base.html.twig' %}
{% block title %}Departments{% endblock %}
{% block body -%}

    <h1 class="page-header">Library Departments <span><a class="btn btn-sm btn-primary" href="{{ path('department_new') }}" role="button" aria-label="Add a new department"><span class="glyphicon glyphicon-plus"></span> New Department</a></span></h1> 
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {{ styled_list|raw }}
      </div>
    </div>
          
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
