{% extends '::base.html.twig' %}
{% block title %}Patron Groups{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Patron Groups', 'newbutton' : true, 'newpath' : path('admin_patrongroup_new'), 'newpathlabel' : 'New Group' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                <p>Patron Groups are used in various forms such as Patron Feedback.</p>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Group Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN', entity) %}
                                <a class="badge" href="{{ path('admin_patrongroup_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('admin_patrongroup_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
