{% extends '::base.html.twig' %}
{% block title %}Patron Groups{% endblock %}
{% block body -%}
      
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New Patron Group' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('admin_patrongroup')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}
    
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(form) }}</div>
      </div>
    </div>
{% endblock %}
