{% extends '::base.html.twig' %}
{% block title %}Extended Privilege Request{% endblock %}
{% block body %}
    <h1>New Extended Privilege Request</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('extendedprivilege') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
