{% extends '::base.html.twig' %}
{% block title %}Extended Privilege Request{% endblock %}
{% block body %}

    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New Extended Privilege Request' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('extendedprivilege')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('extendedprivilege') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
