{% extends '::base.html.twig' %}
{% block title %}Material Purchase Request Reasons{% endblock %}
{% block body -%}
      
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit Reason: ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('materialpurchaserequestreason'), 'printpath' : path('materialpurchaserequestreason_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="well well-lg">{{ form(edit_form) }} 
            {% if is_granted('ROLE_MATERIALPURCHASE_DELETE', entity) %}
                {{ form(delete_form) }}
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
