{% extends '::base.html.twig' %}
{% block title %}Instruction Session Search Results{% endblock %}
{% block body -%}
    
    {# Instruction toolbar #}
    {% include 'snippets/instructionDashboardToolbar.html.twig' %}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Instruction Search Results', 'newbutton' : false } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    <blockquote>
        <p>Note: You will only be shown editing and print options for your own instruction sessions.</p>
    </blockquote>
    
    {# Back, CSV, Print buttons #}
    {% set vars = {'basepath' : path('instruction'), 'csvpath': path('instruction_csv', {'entities': entity_ids, 'filters': filters}) } %}
    {% include 'snippets/csvToolbar.html.twig' with vars %}
    
    <div class="row" id="search-filters">
        <div class="col-xs-12">
            <p><strong>Filters:</strong>
            {% if filters|length == 0 %}
                No Filters
            {% else %}
                {% for filter in filters %}
                    <span class="label label-default">{{ filter }}</span>
                {% endfor %}
            {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <section id="instruction-container">
                {% if pagination|length == 0 %}
                    <p class="alert alert-warning"><span class="glyphicon glyphicon-info-sign"></span> There are no instruction sessions that match your criteria.</p>
                {% else %}
                    {% include 'AppBundle:Instruction:snippets/table.html.twig' %}
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}
{% block documentReady %} 
    
    //refresh the page with the new number of records per page
    $(document).on('change', '#paginationMaxResults', function(){
        var maxItems = $('#paginationMaxResults').find(":selected").val();
        
        var href = window.location.href;
        var regexMax = /&maxItems=\d+/;
        var regexPage = /&page=\d+/;
        var newMaxItems = "&maxItems=" + maxItems;
        
        // If you specify a non-existent page (i.e. Page 2 of a 20-result set when you set maxItems at 25) an empty set will be returned. So go back to page 1 in any case.
        var matchPage = href.match(regexPage);
        if(matchPage){
            href = href.replace(regexPage, '');
        }
        
        // Make sure the old maxItems parameter in the URL is being replaced with the one
        var matchMax = href.match(regexMax);
        if(matchMax){
            href = href.replace(matchMax, newMaxItems);
            window.location.href = href;
        } else {
            window.location.href = window.location.href + "&maxItems=" + maxItems;
        }
        return;
    });
    
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            1: {
                dateFormat : "mmddyy", // set the default date format,
            },
            5: {
                sorter: false
            }
        },
    });
    
    $('.instruction-search-container').on('click', function(e){
        e.stopPropagation();
    });
    
    $('#instruction-filter-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    $('#myTabs a[href="#searchbox-all-tabpane"]').tab('show') // Select tab by name
    $('#myTabs a[href="#searchbox-group-tabpane"]').tab('show') // Select tab by name
    $('#myTabs a[href="#searchbox-individual-tabpane"]').tab('show'); // Select tab by name
    
    {{ parent() }}
{% endblock %}