{% set paginationPath = 'instruction' %}
        <ul class="nav nav-tabs nav-justified" id="instruction-filter-list">
            <li role="presentation" class="{% if filter == 'filter-all' %}active{% endif %}"><a href="#" id="filter-all" class="filter-sessions">All</a></li>
            <li role="presentation" class="{% if filter == 'filter-group' %}active{% endif %}"><a href="#" id="filter-group" class="filter-sessions">Group Only</a></li>
            <li role="presentation" class="{% if filter == 'filter-individual' %}active{% endif %}"><a href="#" id="filter-individual" class="filter-sessions">Individual Only</a></li>
        </ul>
        {% include 'AppBundle:Instruction:snippets/table.html.twig' %}