{# JQuery/Ajax for this form located in Resources/public/js/common.js #}

<ul class="nav navbar-nav navbar-right" id="search-instruction-list">
    <li class="dropdown search-instruction-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search"></span> Search Instructions <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="instruction-search-listitem">
            <div class="instruction-search-container" id="instruction-search-container">
                {{ form(search_form) }}  
            </div>
        </li>
      </ul>
    </li>
</ul>