{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Type{% endblock %}
{% block body %}
    <h1 class="page-header">Edit Type: {{entity.name}}</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('feedbackcategory') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(edit_form) }} 
                {% if is_granted("ROLE_FEEDBACK_DELETE") %}
                {{ form(delete_form) }}
                {% endif %}
          </div>
      </div>
    </div>
{% endblock %}
