{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Type{% endblock %}
{% block body %}
        
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit Type: ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('feedbackcategory'), 'printpath' : path('feedbackcategory_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(edit_form) }} 
                {% if is_granted("ROLE_FEEDBACK_DELETE") %}
                {{ form(delete_form) }}
                {% endif %}
          </div>
      </div>
    </div>
{% endblock %}
