{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AvRequest edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('avrequests') }}">
            Back to the list
        </a>
    </li>
    
    {% if is_granted('EDIT', entity) %}
        <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
{% endblock %}
