{% extends '::base.html.twig' %}
{% block title %}Liaison Subject Areas{% endblock %}
{% block body -%}
      
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('liaisonsubject'), 'printpath' : path('liaisonsubject_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(edit_form) }} 
              {% if is_granted("ROLE_LIAISONSUBJECT_DELETE") %}
              {{ form(delete_form) }}
              {% endif %}
          </div>
      </div>
    </div>
{% endblock %}
{% block documentReady %}
  //dynamically update the subject's level (lvl) each time a new parent subject is picked
  $('#appbundle_liaisonsubject_parent').on('change', function(event){
    var parentId = $(this).val();
    var url = "{{ path('liaisonsubject_parentlvl', {'id': 'replace'}) }}";
    url = url.replace("replace", parentId); //twig runs before javascipt so the ID must be inserted after
    
    var ajaxObject = {
          type: 'GET',
          dataType: 'text', //expect plain text from the server
          url: url
        };
        
        $.ajax(ajaxObject)
          .success(function(data,status,xhr){
            //'data' is the integer id of the parent's 'lvl' field
            $('#appbundle_liaisonsubject_lvl').val(parseInt(data)+1);
          })
          .fail(function(data,status,xhr){
            //the --Choose parent-- option won't have an id and will return a 404. In that case, set the value of the 'lvl' field to 0
            $('#appbundle_liaisonsubject_lvl').val(0);
          })
          .always(function(data,status,xhr){console.log(status);});
  });
  {{ parent() }}
{% endblock %}
