{% extends '::base.html.twig' %}
{% block title %}Liaison Subject Areas{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Liaison Subject Areas', 'newbutton' : true, 'newpath' : path('liaisonsubject_new'), 'newpathlabel' : 'New Subject' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <blockquote>
        <p>Liaison subject areas appear on the library website.</p>
    </blockquote>
    <div class="row">
      <div class="col-xs-12">
        {{ styled_list|raw }}
      </div>
    </div>
          
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
