{% extends '::base.html.twig' %}
{% block title %}FindText+ Problems{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New FindText+ Problem' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('findtext')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('findtext') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
