html, body {
  height: 100%;
}

body {

}

.navbar-inverse .navbar-brand{
    color:#ffffff
}  
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.sidebar-header{
    padding-left: 15px;
    font-weight: bold;
}
/* Hours areas drag and drop */
#displayOrderList{cursor: move;}
#displayOrderList li span { position: absolute; margin-left: -1.3em; }

/* Thumbnail images */
.blue-thumbnail-select-border{
    border: 3px solid #0074d9;
}
input.thumbnail-photo-select{
    visibility: hidden;
    width:0;
}

#thumbnail_image_list_container{
  overflow: auto;
  max-width: 98%;
  height: auto;
}

/* 403 and 404 pages */
.permission-container{
    background: #fad65c;
}

.list-style-none{
    list-style-type: none;
}

.archives_addbtn{
    margin:5px 0px 5px 0px;
}

/* FOSUserBundle Signin */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* List Service Styles (e.g. Liaison subject areas list) */
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

/**
 * Annual report staffing lists
 */
ul.staffing-list, ul.detail-list, ul.document-list{
    list-style-type: none;
}
ul.staffing-list .staffing-form .form-group{
    margin: 1% 2% 1% 0%;
}

@media screen and (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
  
  .instruction-search-container{
      width:95%;
      background:#EEEEEE; 
      padding: 10px; 
      margin:10px;
  }
}

@media screen and (min-width: 480px) {
  .regularhours_day, .specialhours_day{
      width: 100%; 
      float: none
  }
  
  .regularhours_day h3{
      font-size: 18px;
  }
  
  #appbundle_hoursregular_submit{
      margin-right:2%;
  }
}

@media screen and (min-width: 768px) {
  .regularhours_day, .specialhours_day{
      width: 25%; 
      float: left
  }
  
  .instruction-search-container{
      width:500px;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding: 0;
  }

  .regularhours_day, .specialhours_day{
      width: 12.2857142%; 
      padding: 1%;
      float: left
  }
}

@media print {
    /* Printer friendly stylesheet located at bundles/app/css/printer-friendly.css */
}




