{% extends '::base.html.twig' %}
{% block title %}Map Library Monthly Statistics{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Map Library Monthly Statistics' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <section id="yearly-documents-tables">
        <div class="row" id="yearly-documents-container">
            <div class="col-xs-12 col-sm-12 col-md-7">
                <h2>Monthly Statistics</h2> 
                {{ yearly_tables|raw }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <h2>View Statistics Reports</h2>
                <form id="new_report_year" class="form well well-lg" method="post" action="{{ path('monthly_maplibrary_report') }}">
                    <label>Include</label>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" value="holdings" name="options[holdings]" checked>
                          Holdings
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" value="usage" name="options[usage]" checked>
                          Usage
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" value="reference" name="options[reference]" checked>
                          Reference Stats
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="report_type">Type</label>
                        <select name="report_type" id="report_type">
                            <option value="calendar">Calendar Year</option>
                            <option value="fiscal">Fiscal Year</option>
                        </select>
                    <div class="form-group" id="year-dropdown-container">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block documentReady %}
    var $reportType = $('#report_type');
    
    generateYearsDropdown($reportType.val());
    
    $reportType.on('change', function(e){
        generateYearsDropdown($(this).val());
    });
    
    function generateYearsDropdown(reportType){
        ajaxObject = {
            url: '{{ path('monthly_maplibrary_dropdown') }}',
            type: 'GET',
            data: {type: reportType}
        };
        
        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                $('#year-dropdown-container').html(data);
            })
            .fail(function(data,status,xhr) {
                $('#year-dropdown-container').html('<p class="text-danger">Error generating report dropdown!</p>');
            })
            .always(function(data,status,xhr) {});
    }
{% endblock %}