{% extends '::base.html.twig' %}
{% block title %}AV Request Equipment{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit Equipment: ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('avrequest_equipment'), 'printpath' : path('avrequest_equipment_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="well well-lg">{{ form(edit_form) }} 
            {% if is_granted('ROLE_AV_DELETE', entity) %}
                {{ form(delete_form) }}
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
