{% extends '::base.html.twig' %}
{% block title %}AV Request Equipment{% endblock %}
{% block body -%}
    {# Page Header #}
    {% set headingvars = {'headingcontent' : 'New AV Request Equipment' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set vars = {'basepath' : path('avrequest_equipment')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}
    
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">{{ form(form) }}</div>
      </div>
    </div>
{% endblock %}
