{% extends '::base.html.twig' %}
{% block title %}AV Request Equipment{% endblock %}
{% block body -%}            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('avrequest_equipment'), 'editpath' : path('avrequest_equipment_edit', { 'id': entity.id }), 'printpath' : path('avrequest_equipment_print', { 'id': entity.id }), 'editrole' : 'ROLE_AV_EDIT'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Equipment Name</th><td>{{entity.name}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
