{% extends '::base.html.twig' %}
{% block title %}LDAP Users{% endblock %}
{% block body -%}
    <h1 class="page-header">LDAP Users</h1>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Emich username</th>
                        <th>Activated</th>
                        <th>Staff Member</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.username }}</td>
                        <td>
                            {% if entity.isActive %} 
                                <span class="glyphicon glyphicon-ok-sign text-success"></span>
                            {% else %} 
                                <span class="glyphicon glyphicon-remove-sign text-danger"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.staffMember %}
                                {{entity.staffMember}}
                            {% else %}
                                none
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN', entity) %}
                                <a class="badge" href="{{ path('user_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
