{% extends '::base.html.twig' %}
{% block title %}LDAP Users{% endblock %}
{% block body -%}

    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'LDAP User ' ~ entity.username } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('user'), 'editpath' : path('user_edit', { 'id': entity.id }), 'printpath' : path('user_print', { 'id': entity.id }), 'editrole' : 'ROLE_ADMIN'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group btn-group-vertical" role="group" aria-label="actions">
          <div class="btn-group" role="group">
            {% if entity.isActive %}
              <div class="alert alert-success" role="alert">
                <p>This user is active</p>
              </div>
            {% else %}
              <div class="alert alert-danger" role="alert">
                <p>This user is inactive.</p>
              </div>
            {% endif %}
          </div>
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-default" href="{{ path('user_edit', { 'id': entity.id }) }}">Edit</a>
          </div>
        </div>
      </div>
    </div> 
    
{% endblock %}
