{% extends '::base.html.twig' %}
{% block title %}AV Request Status{% endblock %}
{% block body %}
    <h1 class="page-header">Status: {{entity.name}}</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('avrequeststatus') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a></p>
      </div>
    </div>
    {% if is_granted('ROLE_AV_EDIT', entity) %}
    <div class="row">
        <div class="col-xs-12">
            <p><a class="badge" href="{{ path('avrequeststatus_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit Status</a></p>
        </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Status Name</th><td>{{entity.name}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
