{% extends '::base.html.twig' %}
{% block title %}Material Purchase Requests{% endblock %}
{% block body -%}
    <h1>New Material Purchase Request</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('materialpurchase') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
