<h3>This is a forwarded message from the EMU Library Patron Feedback System</h3>

{{ message }}
<br>
-----<br><br><br>
Patron Request Summary:
<ul>
  <li>Received: {{ created|date('l n/j/y g:i A') }}</li>
  <li>Feedback: {{ body }}</li>
</ul>
