{{ message }}
<br>
-----<br><br><br>
Your original feedback:
<ul>
  <li>Received: {{ created|date('l n/j/y g:i A') }}</li>
  <li>Feedback: {{ body }}</li>
</ul>
<br>
---<br>
This Email was sent from the EMU Library Patron Feedback System.
