{% extends '::base.html.twig' %}
{% block title %}Extended Privilege Status{% endblock %}
{% block body -%}
        
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit Status: ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('extendedprivilege_status'), 'printpath' : path('extendedprivilege_status_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="well well-lg">
            {{ form(edit_form) }}
            {% if is_granted('ROLE_EXTENDEDPRIVILEGES_DELETE', entity) %}
                {{ form(delete_form) }}
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
